.nav{
	width: 840px;
	margin: 0 auto;
}
.nav>a{
	display: block;
	width: 200px;
	height: 200px;
	line-height: 200px;
	text-align: center;
	color: #fff;
	font-size: 32px;
	background: #14cc70;
	text-decoration: none;
	float: left;
	margin:0 5px 5px;
}
.nav>a:hover{
	-webkit-box-shadow:0 15px 30px rgba(0,0,0,0.1);box-shadow:0 15px 30px rgba(0,0,0,0.1);-webkit-transform:translate3d(0, -2px, 0);transform:translate3d(0, -2px, 0);
}

.nav>a:active{
	color: #fff;
	background: #14cc70;
	
}

.footer{
	margin: 100px auto 0;
	width: 830px;
}
.footer_nav{
	color: #b3b3b3;
	float: left;
	padding-top:40px; width: 70%;
}
.footer_nav p{
	 float: left; width: 30%; margin-right: 3%;
}
.footer_nav a,.footer_nav span{
	color: #b3b3b3;    text-align: left;
	text-decoration: none;margin-bottom: 20px;
	font-size: 18px; display: block;
}
.footer_nav a:hover{
	color: #14cc70;
}
.qrcode{
	float: right;
}
.qrcode>img{
	width: 180px;
	vertical-align: middle;
}
/*
.show_img{background: url(../images/default_windows.png) no-repeat;
    background-size: 100% 100%;}*/
	.foot{    text-align: center;
    border-top: 0px solid #CCC;
    padding-top: 40px;
    padding-bottom: 30px;}
	
	